body {
    font-family: sans-serif;
}
h1 {
    font-size: 80px; margin: 63px 0px 40px 98px;
    letter-spacing: 1px;
} 
.logo-ramda {
    color: black; text-decoration: none;
}
span {
    color:#4BCAFF
}
.menu-header { 
    
    margin-left: 100px; 
    max-width: 1280px;
    background-color: #35444F;
    display: flex;
    height: 70px;
    padding: 0px;
    
}
.menu-top {
    
    list-style-type:none; 
    border: 1px solid #FFFFFF;
    font-size: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
}
.menu-top-functional {
    width: 330px;
    margin-left: 160px;
}
.menu-top-ramda {
    width: 150px;
}
.menu-top-fantasy {
    width: 280px;
}
.menu-top-node {
    width: 220px;
}
.menu-left {
    padding: 0px;
    margin: 50px 0px 0px 100px;
    border: 1px solid #000000;
    width: 345px;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.menu-left-inform {
    font-size: 27px;
    color: #485863;
    list-style-type: none;
    height: 80px;
    width: 341px;
    display: flex;
    align-items: center;
    margin-left: 44px;
    letter-spacing: 1px;

}
.container-img {
    width: 885px;
    height: 530px;
    margin: 50px 0px 0px 50px;
}
.img {
    border: 1px solid #000000; 
    width: 885px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-menu-img {
    display: flex;
}
p {
    width: 885px;
    font-size: 18px;
    color: #2C2C2C;
     letter-spacing: 1px;
     padding-top: 35px;
     margin-left: auto;
    padding-right: 140px;
}
.list-footer{
    display: flex;
    width: 1280px;
    height: 70px;
    
    align-items:  center;
    margin-top: auto;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    background-color: #63696E;
}
.block-footer {
    width: 1280px;
    height: 106px;
    margin-left: 100px;
    display: flex;
    padding-bottom: 30px;
}

.menu-footer {
    color:#0C1927;
    margin-left: 32px;
    font-size: 28px;
    
}
.menu-footer-end {
    font-size: 24px;
    margin-left: auto;
    padding-right: 32px;

}
