body {
    
    font-family: sans-serif;
    
    
   background-color:black  

    }
    .main {
       width: 1460px;
       margin-left: 30px;
       height: 4000px;
    }
.logo-img{ 

width: 216px;
height: 33px;
background-color: black;
position: absolute;
margin-top: 9px;
}
.btn-header {
    border: 1px solid #E4B564;
    width: 218px;
    height: 50px;
    margin-left: auto;
    margin-top: 46px;

    
}
.icon {
    width: 13px;
    height: 13px;
    font-size: 18px;
    margin-left: 40px;
    margin-top: 16px;
}
h1 {
    font-size: 50px;
    color: #FFFFFF;
    width: 700px;
    padding-top: 128px;
    line-height: 28px;
    margin: 0px;
}
.block-main {
    display: grid;
    grid-template-columns: repeat(3,468px);
   
    
    text-align: center;
    gap: 28px;
     color:#FFFFFF;
     width: 1460px;
     margin-bottom: 160px;
     margin-top: 40px;
     
}
.q2 {
    background-color:  #635A4A;
}
.q3 {
    background-color: #B08C4D;
}
.servisec-tagline {
   color:  #FFFFFF; 
   font-size: 20px;
   width: 1180px;
   line-height: 28px;
   padding-top: 20px;
}
.telefon {
    color: #E4B564;
    display: contents;
}
.block-main-row {
    width: 467px;
    height: 468px;
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
}
.block-main-pillars {
    margin: 0px;
    font-size: 20px;
}
.pillars1 {
    background-color:#634F2C; 
    width: 467px;
    height: 468px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.pillars2 {
    background-color:#B4A385; 
    width: 467px;
    height: 468px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.pillars3 {
background-color: #B08C4D;
width: 467px;
height: 468px;
display: grid;
align-items: center;
justify-content: center;
}
.pillars4 {
    width: 715px;
    height: 468px;
    background-color: #635A4A;
    display: grid;
    align-items: center;
    justify-content: center;
   
}
.pillars5 {
    width: 715px;
    height: 468px;
    background-color: #B08C4D;
    margin-left: 250px;
    display: grid;
    align-items: center;
    justify-content: center;
}
 .block {
    display: flex;
    justify-content: space-between;
    margin-top: 94px;
    
}
.block-r-1 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
}
.block-r-2 {
    width: 467px;
    height: 595px;
    background-color: #1F1F1F;
    margin-top: 24px;
}
.block-r-3 {
    width: 467px;
    height: 439px;
    background-color: #242424;
}
.block-r-4 {
    width: 467px;
    height: 470px;
    background-color: #E4B564;
    margin-top: 24px;
}
.block-r-5 {
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    padding-top: 40px;
    
}
.block-r-6 {
    width: 467px;
    height: 255px;
    background-color: #0E0E0E;
    margin-top: 24px;
    padding-top: 40px;
    
}
.block-r-7 {
    margin-top: 24px;
    width: 467px;
    height: 255px;
    background-color: #0A0909;
    padding-top: 40px;
    
}
.paragraph {
    margin-top: 90px;
    
    width: 500px;
}
.btn-footer {
    margin-top: -65px;
    width: 180px;
}
.project {
    display: flex;
    justify-content: center;
}
.compani-logo {
    Width:487px;
    height:391px;
    background-color: #B08C4D;
    
    display: grid;
    justify-content: center;
    align-items: center;
}
ul {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 0px;
    list-style: none;
    margin-top: 60px;
}
.one {
    
    background-color: #634F2C;
    }
.two {
    background-color: #E8D2AB;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 28px;
    display: grid;
    
    }
.three {
    background-color: #E4B564;
}
.four {
    background-color: #635A4A;
}
.five {
    background-color: #B08C4D;
    color: #FFFFFF;
}
.six {
    background-color: #634F2C;
}
.compani {
    display: flex;
    align-items: center;
    justify-content: center;
}
.foto-logo {
    display: grid;
    
    
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: 156px;
    
    
}
h4 {
    width: 300px;
    text-align:center;
    margin-left: 58px;
    padding-left: 50px;
    line-height: 28px;
    margin-bottom: 59px;
    
    
}
.logo-foto1 {
    margin-right: 193px;
    margin-top: 50px;
}
h5 {
    margin: 0px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 52px;
    padding-top: 45px;
}
h6 {
    margin: 0px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: #000000;
    margin-left: 52px;
    padding-top: 47px;

}
.text {
    padding-top: 56px;
}
h7{
    font-size: 20px;
    margin-left: 48px;
    
    color: #FFFFFF;
}
span {
    border: 2px solid;
    padding: 2px 0px 6px 3px;
    font-size: 25px;
}
.group {
    font-size: 25px;
}
